<%= render :partial => 'search_form', :locals => { :auto_focus => false } %>
<div>
  <div id="ya-site-results" onclick="return {'tld': 'ru','language': 'ru','encoding': '','htmlcss': '1.x','updatehash': true}"></div><script type="text/javascript">(function(w,d,c){var s=d.createElement('script'),h=d.getElementsByTagName('script')[0];s.type='text/javascript';s.async=true;s.charset='utf-8';s.src=(d.location.protocol==='https:'?'https:':'http:')+'//site.yandex.net/v2.0/js/all.js';h.parentNode.insertBefore(s,h);(w[c]||(w[c]=[])).push(function(){Ya.Site.Results.init();})})(window,document,'yandex_site_callbacks');</script>

</div>
<div>
  Поискать «<strong><%= params[:text] %></strong>» в других поисковых системах: 
  <%= link_to "Яндекс", "http://yandex.ru/yandsearch?text=#{params[:text]}", :target => "_blank" %>
  <%= link_to "Google", "http://www.google.ru/search?ie=UTF-8&hl=ru&q=#{params[:text]}", :target => "_blank" %>
  <%= link_to "Mail.ru", "http://go.mail.ru/search?mailru=1&q=#{params[:text]}", :target => "_blank" %>
  <%= link_to "Bing", "http://www.bing.com/search?q=#{params[:text]}", :target => "_blank" %>
</div>
