<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Сусанин: найдется дорога!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  <meta content="Поисковик, поисковая система, НОД, национально-освободительное движение, " name="keywords"></meta>

  <meta name="description" content="" /> 

  <meta property="og:type" content="article" /> 
  <meta property="og:url" content="http://susanin.russianpulse.ru" /> 
  <meta property="og:title" content="Поисковик «Сусанин»: найдется дорога!" /> 
  <meta property="og:image" content="<%= asset_url("logo.jpeg") %>" /> 
  <link rel="image_src" href="<%= asset_url("logo.jpeg") %>" />

  <meta property="og:description" content="Поисковая система с патриотическим фильтром. Сюда не попадают либералы и прочие русофобы" />
  <meta name="twitter:card" content="Поисковая система с патриотическим фильтром. Сюда не попадают либералы и прочие русофобы" />

  <%= stylesheet_link_tag    "//yandex.st/bootstrap/3.0.3/css/bootstrap.min.css", media: "all" %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body>

<div class="container">
  <div class="col-md-8 col-md-offset-2" style="height: 100%">
    <table style="height: 100%; width:100%">
      <tr style="height: 100px">
        <td>
          <%= link_to_unless_current image_tag("logo.jpeg", :alt => "Патриотичная сторона рунета"), root_path, :title => "Патриотичная сторона рунета" %>
        </td>
      </tr>
      <tr>
        <td>
          <%= yield %>
        </td>
      </tr>
      <tr style="height: 50px">
        <td valign="bottom">
          <table class="footer" style="width: 100%">
            <tr>
              <td>
                2014 <a href="/" rel="nofollow">Сусанин</a>
                <a href="/sites" class="padding">Сайты</a>
                <a href="/stats" class="padding">Статистика</a>
                <a href="/about" class="padding">О проекте</a>
              </td>
              <td align="right">
                Автор: <a href="http://www.sergei-udalov.ru" target="_blank">Сергей Удалов</a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr style="height: 20px">
        <td>
        </td>
      </tr>
    </table>
  </div>
</div>

  <div class="hidden"><img src="http://s05.flagcounter.com/count/LTb3/bg_FFFFFF/txt_000000/border_CCCCCC/columns_3/maxflags_250/viewers_3/labels_1/pageviews_0/flags_0/" alt="Flag Counter" border="0"></div>

  <%= javascript_include_tag "//yandex.st/bootstrap/3.0.3/js/bootstrap.min.js" %>
</body>
</html>
